@charset "UTF-8";

body {
    background-color: lightgoldenrodyellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

h1{
    font-size;
    color: white;
    background-color: darkgoldenrod;
    text-decoration: underline;
}

h2{
    color: darkred;
}

p {
    text-align: justify;
}